:root {
    --sidebar-width:280px;
    --sidebar-width-collapsed:80px;
}

body {
    overflow-x: hidden;
}

.layout-wrapper {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: linear-gradient(135deg, #1a1c2e 0%, #16181f 100%);
    transition: all 0.3s ease;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar-navigation {
    flex-grow:1;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0;
    margin:0;
}

.sidebar-navigation::-webkit-scrollbar {
    width: 4px;
}

.sidebar-navigation::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.sidebar-navigation::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.sidebar-navigation::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.sidebar-link {
    color: #a0a3bd;
    transition: all 0.3s ease;
    border-radius: 8px;
    margin: 4px 16px;
    white-space: nowrap;
    overflow: hidden;
    display:flex;
    align-items: center;
}

.sidebar-link:hover {
    color: azure;
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);    
}

.sidebar-link.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}

.sidebar .nav {
    min-height: 0;
}
.logo-text {
    background: linear-gradient(45deg, #6b8cff, #8b9fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease;
}

.notification-badge {
    background: #ff6b6b;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 0.7rem;
}

.profile-section {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
}

.main-content {
    margin-left: var(--sidebar-width);
    background-color: #ffffff;
    min-height: 100%;
    padding: 20px;
    transition: all 0.3s ease;
    overflow-y: auto;
    width: calc(100% - var(--sidebar-width));
}

.collapsed~.main-content {
    margin-left: var(--sidebar-width-collapsed);
    width: calc(100% - var(--sidebar-width-collapsed));
}

.toggle-btn {
    position: absolute;
    right: -15px;
    top: 20px;
    background: #060218;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 6px rgba(106, 128, 168, 0.85);
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.collapsed .hide-on-collapse {
    opacity: 0;
    visibility: hidden;
}

.collapsed .logo-text {
    opacity: 0;
}

.collapsed .sidebar-link {
    text-align: center;
    padding: 1rem !important;
}

.profile-info {
    transition: opacity 0.3s ease;
}
